<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    HN Updated!
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'top']" data-toggle="collapse" data-target=".navbar-collapse.show">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'new']" data-toggle="collapse" data-target=".navbar-collapse.show">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'best']" data-toggle="collapse" data-target=".navbar-collapse.show">Best</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'ask']" data-toggle="collapse" data-target=".navbar-collapse.show">Ask</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'show']" data-toggle="collapse" data-target=".navbar-collapse.show">Show</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stories', 'job']" data-toggle="collapse" data-target=".navbar-collapse.show">Jobs</a>
      </li>
    </ul>
  </div>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>