<p><a href="" (click)="collapseComment($event, comment)"><span>{{comment.display ? '[ - ]' : '[ + ]'}}</span></a>&nbsp;<strong>{{comment.by}}</strong> at {{ comment.time * 1000 | date:'medium' }}</p>
<div *ngIf="comment.display" class="ml-2 pl-2 border-left border-danger">
  <div [innerHTML]="comment.text"></div>
  <div *ngIf="comment.kids">
    <a href="" (click)="loadSubItems($event, comment)">{{comment.kids.length}} responses...</a>
    <div *ngIf="kids$ | async as kids">
      <div *ngFor="let kid of kids">
        <div class="list-group-item list-group-item ml-1 border-0">
          <app-comment [comment]=kid></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>


